{% extends 'base.html' %}

{% block content %}
<div class='col-10 mx-auto'>
    
    
    <h1>
        {{title}}
    </h1>
    
    {% if description %}
    <p>
        {{description}}
    </p>
    {% endif %}
    
    {% include 'components/form.html' with form=form btn_label=btn_label  %}
    <div class='mt-5'>
        <p >{{ pass }}</p>
    </div>
    {% endblock content %}
</div>    