{% extends 'base.html' %}

{% block title %}
     hello page    
{% endblock title %}
    
{% block content %}
    <div class="row mb-3 text-center">
        <div class="col">

            <h1>HELP!!!</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form id='tweet-create-form' action="api/tweets/create/" method='POST' class="form">
            {% csrf_token %}
            <div class="d-none" id='tweet-create-form-error'></div>
            <input type="hidden" value='/' name='next' >
            <textarea required='required' class='form-control' placeholder='Your tweets...' name='content'></textarea>
            <button type='submit' class='btn btn-info'>Tweet</button>
            </form>
        </div>
    </div>
        
    <div class='row' id='all-tweet'>

    </div>
<script>

function handleErrorTweetForm(msg, display) {
    if (display) {
        divError.setAttribute('class', 'd-block alert alert-danger')
        divError.innerText = msg
    } else {
        divError.setAttribute('class', 'd-none')
    }
};


function handleCreateTweetForm(event) {
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);
    let url = myForm.getAttribute('action');
    let method = myForm.getAttribute('method');

    let xhr = new XMLHttpRequest();
    let responseType = 'json';
    xhr.responseType = responseType
    xhr.open(method, url);
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onload = function(){
        if (xhr.status === 201){
            handleErrorTweetForm('', false)
            let newTweetJson = xhr.response
            let newTweet = funcTweet(newTweetJson);
            let ogHTML = allTweet.innerHTML
            allTweet.innerHTML = newTweet + ogHTML;
            myForm.reset();
        } else if (xhr.status === 400 ) {
            let errorContent = xhr.response.content
            let messageErrorContent = errorContent[0]
            handleErrorTweetForm(messageErrorContent, true)
        }else if (xhr.status === 403 ) {
            console.log(xhr.response['detail'])
            let msg = 'U must login'
            // let errorContent = xhr.response.response.detail
            // let messageErrorContent = errorContent
            handleErrorTweetForm(msg, true)
        };;

        };

    xhr.send(myFormData)

};


function loadData(tweet) {
    const xhr = new XMLHttpRequest();
    const url = 'api/tweets/';
    const method = 'GET';
    const responseType = 'json';
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function() {
        const serverResponse = xhr.response;
        const data = serverResponse;
        finalStrTweet = '';                                                                         
        i=0;
        for (i;i<data.length;i++){
            let item = data[i];
            let str = funcTweet(item)
            finalStrTweet += str
        };
        tweet.innerHTML = finalStrTweet;
    };
    xhr.send();
};


function funcTweet(tweet) {
    return '<div class="col col-md-10  border rouded mx-auto" id="tweet-'+tweet.id+'">'+
    '</p>'+tweet.content+'</p>'+
    '<div class="btn-group mx-1 mb-1">' +
    likeButton(tweet)+
    unLikeButton(tweet)+
    retweetButton(tweet)+
    '</div>'+
    '</div>'
};

function likeButton(tweet){
    return "<div><button class='btn btn-primary btn-sm mx-1' onClick=actionButtonFunc("+
        tweet.id +","+tweet.likes+",'like'"+")>"+tweet.likes +" Like</button></div>"
};

function retweetButton(tweet){
    return "<div><button class='btn btn-outline-success btn-sm mx-1' onClick=actionButtonFunc("+
        tweet.id +","+tweet.likes+",'retweet'"+")>Retweet</button></div>"
};

function unLikeButton(tweet){
    return "<div><button class='btn btn-outline-secondary btn-sm mx-1' onClick=actionButtonFunc("+
        tweet.id +","+tweet.likes+",'unlike'"+")>Unlike</button></div>"
};

function actionButtonFunc(tweet_id, currentCount, action) {
    const csrftoken = getCookie('csrftoken')
    const url = '/api/tweets/action/'
    const method = 'POST'
    const data = JSON.stringify({
        id: tweet_id,
        action: action,
         
        
    })
    const xhr = new XMLHttpRequest()
    xhr.open(method, url)
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest'); 
    xhr.setRequestHeader('X-CSRFToken', csrftoken);
    xhr.onload = function(){
        if (action === 'retweet'){

        console.log(xhr.status, xhr.response)
        };
        loadData(allTweet);
    };
    xhr.send(data)


};
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};

const divError = document.getElementById('tweet-create-form-error')    
const allTweet = document.getElementById('all-tweet');
const tweetCreateForm = document.getElementById('tweet-create-form');
tweetCreateForm.addEventListener('submit', handleCreateTweetForm);
loadData(allTweet);

</script>

{% endblock content %}
