{% extends 'base.html' %}


{% block content %}

<h1>My feed</h1>
<div  id="tweetme-2-feed"></div>

<!-- {% if request.user.is_authenticated %}
{% else %}
<div  id="tweetme-2"></div>
    
{% endif %} -->
    


{% endblock content %}
    