{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static  'css/bootstrap.css.map' %}"> -->
     
    <title>Tweetme2 - {% block title %}{% endblock title %}
        </title>
    {% include 'react/css.html' %}
    <style>
        .bg-tweet {
            background-color: #b0d8b9!important;
        }
        .navbar-tweet {
            color: #b11616d4!important;
        }
    </style>
</head>
<body>
    <header>
        {% include 'components/navbar.html' %}
    </header>
   
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>   
<noscript>You need to enable JavaScript to run this app.</noscript>
    
    {% include 'react/base_embed.html' %}
    {% include 'react/js.html' %}
    
     
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>  
        
</body>
</html>