{% extends 'base.html' %}


{% block content %}

<div   id="tweetme-2-user-profile" data-username='{{username}}' ></div>



<div  id="tweetme-2" data-username='{{ username }}' 
                data-can-create= 
                {% if request.user.username == username %}
                    'true'
                {% else %}
                    'false'
                {% endif %}
                    

></div>
{% endblock content %}
    