<form method="POST">
    
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary btn-sm" type='submit'>
        {% if btn_label %}
            {{btn_label}}
         {% else %}
         Create tweet
         {% endif %}
        </button>
            
</form>