<nav class="navbar navbar-expand-lg navbar-light bg-tweet mb-3">
    <a class="navbar-tweet navbar-brand " href="{% url 'tweet_feed' %}">
        Tweetme2
    </a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tweet_list' %}">All Tweets</a>
          </li>
          <li class="nav-item">
          
          {% if request.user.is_authenticated %}
        
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{request.user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" 
                href="{% url 'profile:update' username=request.user %}">Edit</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </li>
        
        {% else %}
        
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>
        {% endif %}
            
        
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>